/* 主页按钮样式 */
.home-button {
    background: linear-gradient(to bottom, #9ee9f4d8, #d1d1f3a5);
    color: #333;
    padding: 10px 25px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0;
    transition: background 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease, border-radius 0.5s ease, opacity 0.3s var(--cubic-bezier), left 0.3s var(--cubic-bezier);
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5); /* 添加内阴影 */
    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    transform: translateY(-2px);
    transition: 0.3s ease;
}

/* SVG图标样式 */
.home-icon {
    width: 24px;
    height: 24px;
    stroke: #333;
    fill: none;
    transition: transform 0.3s ease, stroke 0.3s ease;
}

/* 深色主题适配 */
[data-theme='dark'] .home-icon {
    stroke: #ffefc4;
}

/* 移动设备适配 */
@media screen and (max-width: 1300px) {
    /* 禁用移动端主页按钮的悬停效果 */
    .mobile-device .home-button:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
        border-radius: 12px;
        transform: translateY(0);
        transition: background 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease, border-radius 0.5s ease;
    }
}